html,
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #a81f44;
    transition: all .3s ease;
}

a:hover {
    color: #8e092d;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
}

#root {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
}

.app {
    max-width: 1300px;
    text-align: left;
    width: 100%;
}

.appTitle {
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    margin: 1rem 0 2rem 0;
    text-align: left;
}

.appTitleL {
    align-items: center;
    display: inline-flex;
}

.appTitleR {
    align-items: center;
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
}

.appTitle img {
    margin: 0 1rem 0 0;
}

.appSignOut {
    border: 1px solid #a81f44;
    border-radius: .5rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    padding: .3rem;
    text-decoration: none;
    transition: all .3s ease;
}

.appSignOut:hover {
    background: #a81f44;
    color: #fff;
}

.footer {
    border-top: 1px solid #aaa;
    margin: 2rem 0 0 0;
    padding: 2rem 0;
}

.appLoad {
    background: #fff;
    align-items: center;
    /* display: flex; */
    display: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.appLoadIcon {
    animation: auraPulse 3s infinite;
    background: #a81f44;
    border-radius: 50%;
    display: inline-block;
    opacity: .4;
    padding: 3rem;
    position: absolute;
}

.heart {
    animation: heartBeat 3s infinite;
    background-image: url("../heart.png");
    background-size: 100%;
    background-repeat: no-repeat;

    display: inline-block;
    padding: 3.5rem;
    position: absolute;
}

@keyframes heartBeat {
    0% {padding: 2rem;}
    50% {padding: 1.5rem;}
    100% {padding: 2rem;}
}

@keyframes auraPulse {
    0% {
        opacity: .4;
        padding: 0;
    }
    50% {
        opacity: 0;
        padding: 4rem;
    }
    100% {
        opacity: .4;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {

    #root {
        padding: 0 .5rem;
    }

    .appTitle {
        font-size: 1.2rem;
        margin: .5rem 0 1rem 0;
    }

    .appTitle img {
        height: 1.6rem;
        margin: 0 .5rem 0 0;
    }

}