.auction {
    border-radius: .5rem;
    box-shadow: 1px 1px 8px 1px #aaa;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 .5rem 0;
}

.auctionL {
    border-right: 1px solid #aaa;
    display: inline-flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 25rem;
}

.auctionR {
    flex: 1;
    padding: 1.5rem;
}

.auctionName {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
}

.auctionHighest,
.auctionStart {
    display: flex;
}

.auctionHighestVal,
.auctionStartVal {
    margin: 0 0 0 .5rem;
}

.auctionHighest {
    font-weight: bold;
}

.auctionHighestVal {
    color: #a81f44;
}

.auctionForm {
    box-sizing: border-box;
    display: flex;
    margin: 1rem 0 0 0;
}

.auctionForm input[type="number"] {
    border: 1px solid #aaa;
    border-radius: .5rem 0 0 .5rem;
    flex: 1;
    font-size: 1.2rem;
    padding: .5rem;
    width: 0;
}

.auctionForm input[type="submit"] {
    background: #a81f44;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    color: #fff;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    transition: all .5s ease;
}

.auctionForm input[type="submit"]:hover {
    background: #8e092d;
    cursor: pointer;
}

.rdt {
    display: flex;
    flex-direction: column;
    position: relative;
}

.rdtPicker {
    background: #fff;
    border-radius: .3rem;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .4);
    display: none;
    margin: 0 0 1rem 0;
    padding: .2rem;
    z-index: 50;
}

.rdtOpen .rdtPicker {
    display: block;
    position: absolute;
}

.rdtCounters {
    align-items: center;
    display: flex;
}

.rdtTimeToggle,
.rdtSwitch {
    color: #a81f44;
    font-weight: normal;
    text-decoration: underline;
}

.rdtTimeToggle:hover,
.rdtSwitch:hover {
    color: #8e092d;
    cursor: pointer;
}